.producto{
    border-radius: 10px;
    box-shadow: $boxShadowMaterial;
    //border: 1px solid red;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    transition: box-shadow 0.1s;
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .producto-img{
        width: 100%;
        height: fit-content;
        border-radius: 10px;
    }
    .producto-datos{
        width: 100%;
        padding: 5px 15px 15px 15px;
        display: flex;
        flex-direction: column;
        .datos-nombre, .datos-precio{
            margin-bottom: 10px;
        }
        .datos-nombre{
            font-weight: 700;
            font-size: 1.2rem;
            font-family: $fuenteTitulos;
        }
        .datos-cant{
            margin-top: auto;
            margin-bottom: 0;
        }
    }
}