.detalle-item-titulo{
    width: 95%;
    max-width: 1200px;
    margin: $espacioSecciones auto $espacioTitulos auto;
}

.detalle-item{
    width: 95%;
    max-width: 800px;
    margin: auto;
    box-shadow: $boxShadowMaterial;
    border-radius: 10px;
    padding: $espacioParrafos;
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr auto auto auto 1fr;
    grid-template-areas: 
        "img nombre"
        "img precio"
        "img contador"
        "img total"
        "img comprar";
    
    .detalle-item-img{
        grid-area: img;
        width: 100%;
    }
    .detalle-item-nombre{
        grid-area: nombre;
        align-self: center;
        .item-nombre-stock{
            font-size: 0.9rem;
            color: #a4a4a4;
        }
    }
    .detalle-item-precio{
        grid-area: precio;
    }
    .detalle-item-contador{
        grid-area: contador;
    }
    .detalle-item-total{
        grid-area: total;
    }
    .detalle-item-btn-comprar{
        grid-area: comprar;
    }

    &.terminar{
        grid-template-rows: 1fr auto 1fr;
        grid-template-areas: 
            "img nombre"
            "img total"
            "img comprar";
        .detalle-item-precio{
            display: none;
        }
        .detalle-item-contador{
            display: none;
        }
    }
}