.catalogo-titulo{
    width: 95%;
    max-width: 1200px;
    margin: $espacioSecciones auto $espacioTitulos auto;
}

.catalogo{
    width: 95%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}