*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $fuenteTextos;
}

h1, h2, h3 {
    font-family: $fuenteTitulos;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    &:link, &:visited{
        color: $colorTextos;
    }
}

button{
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
    @media screen and (-ms-high-contrast: active) {
        border: 2px solid currentcolor;
    }
}