@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&family=Roboto:wght@400;700&display=swap');

// Colores
$colorPrincipal: #FBB1BD;
$colorTextos: black;
$colorFondoBotones: #FAE0E4;
$colorRojoDeMarca: #e63946;

// Fuentes
$fuenteTitulos: 'Nunito Sans', sans-serif;
$fuenteTextos: 'Roboto', sans-serif;

// Box Shadow
$boxShadowMaterial: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

// Espacios
$espacioSecciones: 2rem;
$espacioTitulos: 1rem;
$espacioParrafos: 0.75rem;