@import './partials/variables';
@import './partials/reset';
@import './partials/navbar';
@import './partials/itemList';
@import './partials/item';
@import './partials/itemCount';
@import './partials/loader';
@import './partials/itemDetail';
@import './partials/botones';
@import './partials/cart';
@import './partials/cartWidget';
@import './partials/ordenDeCompra';